html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "CeraPro";
  src: url("/assets/fonts/CeraPro/Cera Pro Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro";
  src: url("/assets/fonts/CeraPro/Cera Pro Light.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "CeraPro";
  src: url("/assets/fonts/CeraPro/Cera Pro Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
