@import "./variables.scss";

.container {
  z-index: 1;
  position: absolute;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(135deg, $primary, $secondary);
  .imgContainer {
    position: absolute;
    right: 0px;
    .vector {
      z-index: 0;
    }
  }
  .headerContainer {
    margin-top: 42px;
    width: 100%;
    padding-left: 72px;
    padding-right: 54px;
    height: 77px;
    .header {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(50px);
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .headerLeft {
        display: flex;
        flex-direction: row;
        padding: 21px 0px 21px 30px;
        align-items: center;
        .logo {
          -webkit-user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
        .headerItem {
          margin-left: 32px;
          color: white;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .headerRight {
        padding: 8px;
        .rightButton {
          width: 200px;
          height: 100%;
        }
      }
    }
  }
  .mainContainer {
    display: flex;
    flex-direction: row;
    .mainLeft {
      width: 45%;
      height: 100%;
    }
    .mainRight {
      width: 55%;
      height: 100%;
      position: relative;
      .introduceContainer {
        position: absolute;
        top: 100px;
        left: 50px;
        .introduceBox {
          padding: 18px 23px 18px 28px;
          border: 1px solid white;
          color: white;
          font-family: CeraPro;
        }
        .pfpContainer {
          margin-top: 20px;
          margin-left: 50px;
        }
      }
      .pfpContainer {
        padding-left: 100px;
      }
    }
  }
}
