.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  .leftSkill {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .cursor {
      position: absolute;
      bottom: 200px;
      right: 100px;
    }
  }
  .rightSkill {
    width: 55%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .highlights {
      font-family: CeraPro;
      font-size: 42px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .skillCard {
        width: 200px;
        height: 70px;
        border: 1px solid black;
        border-radius: 4px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
